@import "tailwindcss";

/* 1F1D2B */
:root {
  --background: #1F1D2B;
  --foreground: #171717;
  --primary: #9B51E0;
  --secondary: #3081ED;
  --text-color: #BCBCBC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer utilities {
  .linear-text-gradient {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .linear-bg-gradient {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    color: white;
  }

  .linear-border-gradient {
    background: linear-gradient(to bottom, #fc37ffe3, var(--background), var(--background), var(--background), #1bb1ded9);

  }

  .main-title {
    font-size: 48px;
    color: white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}